*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --bgColor: #f4f4f4;
    --bgColorOscuro: #333;
    --colorTexto: #fff;
    --colorTextoOscuro: #333;
    --colorBanner: #ff5733;
    --shadow: 0px 0px 10px rgba(0,0,0,0.4);
    --maxWidth: 100%;
    --borderRadius: 16px;
}

body{
    background-color: var(--bgColor);
    line-height: 1.5;   
}

/*Header*/

header{
    background-color: var(--bgColorOscuro);
    padding: 0.4rem;
}

.contenedor_nav{
    display: flex;
    color: var(--colorTexto);
    justify-content: space-between;
    align-items: center;
    max-width: var(--maxWidth);
    margin: auto;
}

.nav_tittle{
    font-size: 2rem;
}
.nav_toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: none;
}

.nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.nav_link{
    text-decoration: none;
    color: var(--colorTexto);
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
    font-size: 1.2rem;
}
.nav_link:hover{
    transition: .3s ease;
    background-color: #555;
    border-radius: var(--borderRadius);
}

/*Main*/

main{
    width: 80%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    margin-top: 2rem;
}

.main_banner{
    background-color: var(--colorBanner);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: var(--borderRadius);
    padding: 2rem 1.2rem;
    box-shadow: var(--shadow);
    color: var(--colorTexto);
}

.banner_tittle{
    font-size: 2.5rem;
}

.banner_description{
    font-size: 1.5rem;
}

.banner_button{
    background-color: var(--bgColorOscuro);
    color: var(--colorTexto);
    border-radius: var(--borderRadius);
    padding: 0.8rem;
    font: 1.1rem;
    border: none;
}
.banner_button:hover{
    background-color: #555;
    cursor: pointer;
}

.caracteisticas_section{
    width: 100%;
    margin-top: 2rem;
    margin: 0 auto;
}

.caracteristicas_tittle{
    text-align: center;
    margin-bottom: 1rem;
}

.caracteristicas_container_articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.caracteristicas_card{
    box-shadow: var(--shadow);
    border-color: #fff;
    border-radius: var(--borderRadius);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*Footer*/

footer{
    background-color: var(--bgColorOscuro);
    color: var(--colorTexto);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_description{
    font-size: 1.5rem;
    text-align: center;
}

/* Mediaqueries */

@media screen and (max-width: 768px) {
    .caracteristicas_container_articles{
        grid-template-columns: 1fr;
    }

    .nav_list{
        display: none;

    }

    .nav_toggle{
        display: block;
        cursor: pointer;
    }
}
